$container-padding: 15px;
$wrapper-width: 988px + $container-padding;

$color-text: #000;
$color-link: #ff6c6c;
$color-dark-blue: #01576c;

$font-Noto-Sans: 'Noto Sans', Arial, sans-serif;

// @include media('huge')
$breakpoints: (
  'huge': (
    max-width: 1040px,
  ),
  'large': (
    max-width: 999px,
  ),
  'small': (
    max-width: 739px,
  ),
);
