.about {
  margin: 0 0 50px;
}

.about__heading {
  margin: 0 0 50px;
  color: #333;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.45;

  @include media('small') {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.34;
  }
}

.about__content {
  max-width: 652px;
  font-weight: 300;
  letter-spacing: -0.01em;

  @include media('huge') {
    max-width: 620px;
  }

  @include media('large') {
    max-width: 100%;
  }

  p {
    margin: 0 0 30px;

    @include media('small') {
      margin-bottom: 20px;
    }
  }

  ul {
    margin: 0 0 30px;
    padding: 0;

    @include media('small') {
      margin-bottom: 20px;
    }
  }

  li {
    position: relative;
    margin: 0 0 20px;
    padding: 0 0 0 38px;
    list-style: none;

    @include media('small') {
      padding-left: 28px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-dark-blue;

      @include media('small') {
        top: 7px;
      }
    }

    ul {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}
