.main-nav {
  position: relative;
  order: -1;
}

.main-nav__toggle {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: $color-link;
  transition: 0.2s;
  cursor: pointer;

  @include media('small') {
    width: 50px;
    height: 50px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 17px;
    right: 17px;

    @include media('small') {
      left: 13px;
      right: 13px;
    }
  }

  &::before {
    top: 29px;
    height: 2px;
    background: #fff;

    @include media('small') {
      top: 24px;
    }
  }

  &::after {
    top: 24px;
    bottom: 24px;
    border: solid #fff;
    border-width: 2px 0;
    transition: 0.2s;

    @include media('small') {
      top: 19px;
      bottom: 19px;
    }
  }

  &:hover,
  &:focus {
    background: rgba($color-link, 0.75);

    &::after {
      top: 21px;
      bottom: 21px;

      @include media('small') {
        top: 16px;
        bottom: 16px;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.main-nav__list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: $color-link;

  .main-nav--active & {
    display: block;
  }
}

.main-nav__item {
  &:not(:last-child) {
    border-bottom: 1px solid rgba(#fff, 0.2);
  }
}

.main-nav__link {
  display: block;
  padding: 10px 20px 13px;
  color: #fff;

  &:hover {
    background: rgba(#fff, 0.2);
  }
}
