.more {
  display: table;
  margin: 60px auto 0;
  padding: 11px 50px 14px;
  border: none;
  border-radius: 100px;
  background: $color-link;
  color: #fff;
  font: inherit;
  font-weight: bold;
  text-transform: lowercase;
  transition: 0.2s;

  &:not(.loading) {
    cursor: pointer;

    &:hover,
    &:focus {
      background: rgba($color-link, 0.75);
    }
  }

  &:focus {
    outline: none;
  }
}
