.news {
  overflow: hidden;
  margin: 0 0 100px;
}

.news__inner {
  overflow: hidden;
}

.news__heading {
  margin: 0 0 30px;
  color: #333;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.43;

  @include media('small') {
    font-size: 25px;
    line-height: 1.2;
  }
}

.news__filters {
  --gap-x: 75px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gap-x) * -1) 40px 0;

  @include media('small') {
    --gap-x: 60px;
    margin-bottom: 20px;
  }
}

.news__filter {
  margin: 0 var(--gap-x) 20px 0;
}

.news__items {
  --gap-x: 20px;
  --gap-y: 80px;
  --items: 3;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 0 calc(var(--gap-x) * -1) calc(var(--gap-y) * -1) 0;

  @include media('large') {
    --items: 2;
    --gap-x: 40px;
  }

  @include media('small') {
    --gap-x: 20px;
    --gap-y: 40px;
  }

  @media (max-width: 550px) {
    --items: 1;
  }

  .card {
    width: calc(100% / var(--items) - var(--gap-x));
    margin: 0 var(--gap-x) var(--gap-y) 0;
  }
}

.news__not-found {
  display: none;
}
